<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu">
        </ion-icon>
      </ion-button>
      <div *ngIf="student.admin == true; then thenBlock else elseBlock">
      </div>
      <ng-template #thenBlock>
        <ion-title>Admin Dashboard</ion-title>
      </ng-template>
      <ng-template #elseBlock>
          <ion-title>Student Dashboard</ion-title>
        </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu side="start" menuId="first" contentId="homeMenu">
    <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-row *ngFor="let p of pages">
          <ion-button (click)="openPage(p.page)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{p.title}}
          </ion-button>
        </ion-row>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-row align-items-center>
          <ion-col>
            {{student.name}}
          </ion-col>
          <ion-col>
            <ion-button full clear icon-left (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Logout</ion-button>>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

<ion-grid>
  <div class="container">
    <ion-row class="ion-justify-content-start">
      <ion-col size="6">
        <div>
          <p>Questões Respondidas</p>
          <p>{{student.questionsAnswered}}</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
            <p>Respostas Certas</p>
            <p>{{student.rightAnswers}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>
          <p>Pontos</p>
          <p>{{student.points}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size="3">
          <div>
            <p>Ranking</p>
            <p>{{student.points}}</p>
          </div>
        </ion-col>
      </ion-row>
  </div>
</ion-grid>

<ion-button shape="round" fill="outline" color="dark" (click)="refreshStudent()">Refresh Points</ion-button>